* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-background{
    margin:0;
    background-color:#083c4c;
}
.logo{
    height:80px;
    width:100px
}
.icon-size{
    font-size:20px;
    margin-bottom: 5px;
    color:white
}
.search-icon{
    font-size:25px;
    color:083c4c;
    margin-left: -25px;
}