* {
    overflow-x: hidden;
}
.footer{
    background-color: #ad5050;
    width:100vw;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    /* align-items: center; */
}
.footer-logo{
    height: 40vh;
    width:20vw;
}
.footer-heading{
    font-size: 20px;
    font-weight: bold;
}
.footer-items {
    padding-top: 2%;
}