.brand{
    overflow: hidden;
}
.addtobag{
     background-color: #fff;
     color: #ad5050;
     padding: 5px;
     border-color: #ad5050;
     border-radius: 5px;
}
.addtobag:hover{
    background-color: #ad5050;
    color: #fff;
}
.heartsym{
    border: none;
    background: transparent;
    padding: 5px;
    font-size: 20px;
    color: #ad5050;
}
.heartfill{
    fill: red;
}
.size{
    /* padding: 4px; */
    width:2vw;
    background: transparent;
    color: #ad5050;
    border-radius: 50px;
}
.size:hover{
    background: #ad5050;
    color: #fff;
}
.backLink{
    color: black !important;
}
.addedtobag{
    background-color: #ad5050;
    color: #fff;
    padding: 5px;
    border-color: #ad5050;
    border-radius: 5px;
}